.shopslist {
    color: white;
    height: 50px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 10px;
    margin-left: 40%;
    border-radius: 10px;
    font-size: 20px;
}
.shopslist:hover {
    cursor: pointer;
    background-color:rgba(255, 255, 255, 0.7);
}
.shopslist:first-child {
    margin-top: 100px;
}
#back_to_index {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 45px;
    font-size: 20px;
    text-decoration: underline 1.5px;
}
#back_to_index:hover {
    cursor: pointer;
}