@import "home.css";
@import "shops.css";

body {
    background-color: #97DC76;
}
#title {
    font-size: 60px;
    color: #e67b4a;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}